@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.SuggestedSearchBoxContainer {
	height: 100%;
	width: 95%;
}

.heading {
	font-size: large;
	font-weight: 500;
	font-family: "Poppins", "sans-serrif";
}

.footerHeading {
	font-family: "Poppins", "sans-serrif";
	font-size: medium;
}

.suggestions {
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
